*.exe
RogueBasin/RogueBasin/bin/Debug/logs/*
RogueBasin/RogueBasin/bin/Debug/obituary/*
RogueBasin/RogueBasin/bin/Debug/maps/*
RogueBasin/RogueBasin/bin/Debug/QuickGraph.*
RogueBasin/RogueBasin/bin/Debug/*.png
RogueBasin/RogueBasin/bin/Debug/*.dot
RogueBasin/RogueBasin/bin/Debug/*.sav
RogueBasin/libtcod-net/bin/*
RogueBasin/libtcod-net/obj/*
RogueBasin/Roguebasin/obj/*
RogueBasin/Roguebasin/bin/Release/
RogueBasin/RogueBasin/bin/Debug/RogueBasin.vshost.exe.manifest
RogueBasin/libtcod-net/xmlDocs.xml
RogueBasin/RogueBasin/bin/Debug/RogueBasin.exe
RogueBasin/RogueBasin/bin/Debug/libtcodWrapper.dll
RogueBasin/GraphMap/obj
RogueBasin/GraphMap/bin
RogueBasin/GraphMapStressTester/obj
RogueBasin/GraphMapStressTester/bin
RogueBasin/MapTester/bin/
RogueBasin/MapTester/obj/
RogueBasin/TestGraphMap/bin/
RogueBasin/TestGraphMap/obj/
RogueBasin/DDRogueTest/bin/
RogueBasin/DDRogueTest/obj/
RogueBasin/TraumaRL/obj/
RogueBasin/TraumaRL/bin/Debug/logs
RogueBasin/TraumaRL/bin/Debug/obituary
RogueBasin/TraumaRL/bin/Debug/QuickGraph.Graphviz.xml
RogueBasin/TraumaRL/bin/Release/
*.pdb
*.o
*.so
*.suo
*.config
*.dot
libtcodWrapper.dll