*.exe
RogueBasin/RogueBasin/bin/Debug/logs/*
RogueBasin/RogueBasin/bin/Debug/obituary/*
RogueBasin/RogueBasin/bin/Debug/maps/*
RogueBasin/RogueBasin/bin/Debug/QuickGraph.*
RogueBasin/RogueBasin/bin/Debug/*.png
RogueBasin/RogueBasin/bin/Debug/*.dot
RogueBasin/RogueBasin/bin/Debug/*.sav
RogueBasin/libtcod-net/bin/*
RogueBasin/libtcod-net/obj/*
RogueBasin/Roguebasin/obj/*
RogueBasin/RogueBasin/bin/Debug/RogueBasin.vshost.exe.manifest
RogueBasin/libtcod-net/xmlDocs.xml
RogueBasin/RogueBasin/bin/Debug/RogueBasin.exe
RogueBasin/RogueBasin/bin/Debug/libtcodWrapper.dll
*.pdb
*.o
*.so
*.suo
